MHKit.xcodeproj/project.xcworkspace/xcuserdata/michael.xcuserdatad/UserInterfaceState.xcuserstate
MHKitExample/MHKitExample.xcworkspace/xcuserdata/michael.xcuserdatad/UserInterfaceState.xcuserstate
*/.DS_Store

